*,*::after,*::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.html{
  font-size: 16px;
  scroll-behavior: smooth;
}
.container {
  display: grid;
}
@media only screen and (max-width : 1024px){
  .container {
    grid-template-columns: 1fr;
  }
}
@media only screen and (min-width : 1024.1px){
  .container {
    grid-template-columns: 100px auto 100px;
  }
}
body {
  background: #fff;
  margin: 0;
  padding: 0;
}
.header{
  background-color: rgb(41,145,229);
   border-bottom: 5px solid white;
   height: 15vh;
   grid-column: 1/ span 3;
   display: grid;
   grid-template-columns: 100px auto 100px;
}
@media only screen and (max-width : 1024px){
  .header{
  grid-template-columns: 1fr;
  }

}

.header-box{
  display: flex;
  justify-content: space-between; 
  align-items: center;
}
@media only screen and (max-width : 1024px){
  .header-box{
    flex-direction: row;
   
  }
}
@media only screen and (min-width : 1024.1px){
  .header-box{
    grid-column: 2/3;
     flex-direction: row;
  }
}

.button-container{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   width: 220px;
   margin-top: 10px;
}
.button-container button{
  outline: 0;
  border: 1px solid transparent;
  padding: 9px 18px;
  font-size: 0.9rem;
  background-color: hsl(217, 100%, 62%);
  color: white;
  cursor: pointer;
  z-index: 1;

}

.button-container button:hover {
  cursor: pointer;
  animation: jelly 0.5s;
}

@keyframes jelly {
  0%,
  100% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}
@media only screen and (max-width : 1024px){
  .text{
    display: grid;
    grid-template-rows: repeat(auto-fill,auto);
    grid-row-gap: 10px;
  }
}
@media only screen and (min-width : 1024.1px){
  .text{
    width: 900px;
    display: grid;
    grid-template-rows: repeat(auto-fill,auto);
    grid-row-gap: 10px;
  }
}
.intro{
    display: flex;
    align-items: center;
}
@media only screen and (max-width : 1024px){
  .intro{
    flex-direction: column;
    height: 70vh;
    padding: 0px 15px;
    justify-content: center;
   
  }
}
@media only screen and (min-width : 1024.1px){
  .intro{
    grid-column: 2/3;
    height: 85vh;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;


  }
}
header p {
  padding-left: 15px;
  color: #fff;
  opacity: 1;
}
@media only screen and (max-width : 1024px){
  header p {
    font-size: 0.9rem;
   
  }
}
@media only screen and (min-width : 1024.1px){
  header p {
    font-size: 1.4rem;

  }
}
header p span {
  font-weight: 700;
}
.logo {
  height: 50px;
  width: 50px;
}
nav {
  position: static;
  float: right;
  font-weight: 1000;
}

nav ul li {
  display: inline-block;
  padding: 0em 0em;
}
nav ul li a {
  position: relative;
  text-decoration: none;
  color: #fff;
  list-style: none;
  margin: 1em;
}
@media only screen and (max-width : 1024px){
  nav ul li a {
    font-size: 0.9rem;
   
  }
}
@media only screen and (min-width : 1024.1px){
  nav ul li a {
    font-size: 1.2rem;
  }
}
nav ul li a::before {
  position: absolute;
  content: " ";
  background: #fff;
  height: 2px;
  width: 0;
  bottom: -5px;
  opacity: 1;
  z-index: 2;
  transition: all 0.3s cubic-bezier(0.83, 0.28, 0.52, 1.35);
}
nav ul li a:hover::before {
  width: 80%;
}

@media only screen and (max-width : 1024px){
  .intro-image {
   display: none;
  }
}
@media only screen and (min-width : 1024.1px){
  .intro-image {
    height: 500px;
    width: 100%;
    display: block;
  }
}
.intro-image img {
  max-width: 100%;
  height: 100%;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.83, 0.28, 0.52, 1.35);
}
@keyframes rotate {
  from {
    transform: rotate(30deg);
  }
  to {
    transform: rotate(0deg);
  }
}
.intro-image img:hover {
  animation: rotate 0.8s cubic-bezier(0.83, 0.28, 0.52, 1.35) infinite 0.3s
    alternate-reverse;
}

h1 {
  letter-spacing: 1px;
  font-size: 2em;
}
h2 {
  letter-spacing: 1px;
  font-size: 1.7em;
}
p {
  font-size: 1.25em;
  opacity: 0.75;
}
span {
  position: relative;
}
span::before {
  position: absolute;
  content: " ";
  background: #5597ff;
  height: 5px;
  width: 100%;
  bottom: 5px;
  opacity: 0.7;
  z-index: -1;
}
.skillset {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
      135deg,
      rgba(21, 186, 248, 0.6) 0%,
      rgba(21, 186, 248, 0.6) 42%,
      transparent 42%,
      transparent 53%,
      rgba(41, 145, 229, 0.6) 53%,
      rgba(41, 145, 229, 0.6) 62%,
      transparent 62%,
      transparent 88%,
      rgba(62, 104, 209, 0.6) 88%,
      rgba(62, 104, 209, 0.6) 100%
    ),
    linear-gradient(
      45deg,
      transparent 0%,
      transparent 29%,
      rgb(31, 166, 238) 29%,
      rgb(31, 166, 238) 35%,
      rgb(41, 145, 229) 35%,
      rgb(41, 145, 229) 55%,
      transparent 55%,
      transparent 56%,
      rgb(62, 104, 209) 56%,
      rgb(62, 104, 209) 100%
    ),
    linear-gradient(90deg, rgb(255, 255, 255), rgb(255, 255, 255));
}
@media only screen and (max-width : 1024px){
  .skillset {
   flex-direction: column;
   grid-column: 1/1;
   min-height: 1400px;
  }
}
@media only screen and (min-width : 1024.1px){
  .skillset {
    grid-column: 1 / span 3;
    flex-direction: row;
    height: 70vh;

  }
}

.skillset-box{
  display: flex;
 
}
@media only screen and (max-width : 1024px){
  .skillset-box{
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   height: 90%;
  }
}
@media only screen and (min-width : 1024.1px){
  .skillset-box{
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-column-gap: 40px;
  }
}
.skillset article {
  background: #fff;
  border-radius: 10px 0px 10px 0px;
  box-shadow: 1px 1px 20px #333;
  padding: 30px;
  display: grid;

}
@media only screen and (max-width : 1024px){
  .skillset article{
    width: 300px;
    height: 400px;
    grid-template-rows: repeat(2,auto);
    grid-row-gap: 20px;

  }
}
@media only screen and (min-width : 1024.1px){
  .skillset article{
    width: 400px;
    height: 350px;
    grid-template-rows: 40px auto;
    grid-row-gap: 20px;
    


  }
}
.skillset article h3 {
  text-align: center;
  font-size: 1.5rem;
}
section article h3 span::before {
  z-index: 0;
  height: 3px;
}
@media (orientation: portrait) {
  section {
    flex-direction: column;
  }
  .skillset {
    height: 100vh;
  }
}

.outro{
  height: 500px;
  display: flex;
  align-items: center;
}
@media only screen and (max-width : 1024px){
  .outro{
    grid-column: 1/1;
    justify-content: center;
  }
}
@media only screen and (min-width : 1024.1px){
  .outro{
    grid-column: 2/3;
    width: 100%;
  }
}
.outro-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width : 1024px){
  .outro-box{
    flex-direction: column;
    height: 400px;
    padding-bottom: 40px;
  }
}
@media only screen and (min-width : 1024.1px){
  .outro-box{
    flex-direction: row;
    width: 100%;

  }
}

@media only screen and (max-width : 1024px){
  .outro-image{
    width: 100px;
    height: 50px;
}
}
@media only screen and (min-width : 1024.1px){
  .outro-image{
    width: 200px;
    height: 100px;
}
}
.outro-box-text{
  display: grid;
  grid-template-rows: repeat(3,auto);
  grid-row-gap: 20px;
}
@media only screen and (max-width : 1024px){
  .outro-box-text {
    padding: 0px 10px;
  }
}
.outro-image img{
  max-width: 100%;
  height: 100%;
}

/* @media only screen and (max-width : 1024px){
  .outro-box-text p{
    width: 100px;
  }
} */
@media only screen and (min-width : 1024.1px){
  .outro-box-text p{
    width: 400px;
  }
}